# Object files
*.o
*.ko
*.dSYM

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
zstd
!build/VS2008/zstd
!build/VS2010/zstd
!contrib/VS2005/zstd
zstdmt
*.exe
*.out
*.app

# Test artefacts
tmp*
dictionary*
!examples/dictionary_compression.c
!examples/dictionary_decompression.c
!tests/fuzz/dictionary_decompress.c
!tests/fuzz/dictionary_round_trip.c
NUL

# Build artefacts
projects/
bin/
.buckd/
buck-out/

# Other files
.directory
_codelite/
_zstdbench/
.clang_complete
*.idea
*.swp
.DS_Store
googletest/
*.d
*.vscode
