# Object files
*.o
*.ko
*.dSYM

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
/zstd
zstdmt
*.exe
*.out
*.app

# Test artefacts
tmp*
*.zst
*.zstd
dictionary.
dictionary
NUL

# Build artefacts
projects/
bin/
.buckd/
buck-out/
build-*
*.gcda

# Other files
.directory
_codelite/
_zstdbench/
.clang_complete
*.idea
*.swp
.DS_Store
googletest/
*.d
*.vscode
*.code-workspace
compile_commands.json
.clangd
