version: 1.0.{build}
environment:
  matrix:
  - COMPILER: "visual"
    CONFIGURATION: "Debug"
    PLATFORM: "x64"
  - COMPILER: "visual"
    CONFIGURATION: "Debug"
    PLATFORM: "Win32"
  - COMPILER: "visual"
    CONFIGURATION: "Release"
    PLATFORM: "x64"
  - COMPILER: "visual"
    CONFIGURATION: "Release"
    PLATFORM: "Win32"
  - COMPILER: "gcc"
    MAKE_PARAMS: "test"
    PLATFORM: "mingw64"
  - COMPILER: "gcc"
    MAKE_PARAMS: "test"
    PLATFORM: "mingw32"

install:
  - ECHO Installing %COMPILER% %PLATFORM% %CONFIGURATION%
  - if [%COMPILER%]==[gcc] SET PATH_ORIGINAL=%PATH%
  - if [%COMPILER%]==[gcc] (
      SET "CLANG_PARAMS=-C programs zstd fullbench fuzzer zbufftest paramgrill datagen CC=clang MOREFLAGS="--target=x86_64-w64-mingw32 -Werror -Wconversion -Wno-sign-conversion"" &&
      SET "PATH_MINGW32=c:\MinGW\bin;c:\MinGW\usr\bin" &&
      SET "PATH_MINGW64=c:\msys64\mingw64\bin;c:\msys64\usr\bin" &&
      COPY C:\MinGW\bin\mingw32-make.exe C:\MinGW\bin\make.exe &&
      COPY C:\MinGW\bin\gcc.exe C:\MinGW\bin\cc.exe
    ) else (
      IF [%PLATFORM%]==[x64] (SET ADDITIONALPARAM=/p:LibraryPath="C:\Program Files\Microsoft SDKs\Windows\v7.1\lib\x64;c:\Program Files (x86)\Microsoft Visual Studio 10.0\VC\lib\amd64;C:\Program Files (x86)\Microsoft Visual Studio 10.0\;C:\Program Files (x86)\Microsoft Visual Studio 10.0\lib\amd64;")
    )

build_script:
  - ECHO Building %COMPILER% %PLATFORM% %CONFIGURATION%
  - if [%PLATFORM%]==[mingw32] SET PATH=%PATH_MINGW32%;%PATH_ORIGINAL% 
  - if [%PLATFORM%]==[mingw64] SET PATH=%PATH_MINGW64%;%PATH_ORIGINAL% 
  - if [%PLATFORM%]==[mingw64] (
      make clean &&
      ECHO *** &&
      ECHO *** Building clang &&
      ECHO *** &&
      ECHO make %CLANG_PARAMS% &&
      make %CLANG_PARAMS% &&
      COPY programs\fuzzer.exe projects\fuzzer_clang.exe &&
      make clean
    )
  - if [%COMPILER%]==[gcc] (
      ECHO *** &&
      ECHO *** Building %PLATFORM% &&
      ECHO *** &&
      make -v &&
      cc -v &&
      ECHO make %MAKE_PARAMS% &&
      make %MAKE_PARAMS% &&
      make clean
    )
  - if [%COMPILER%]==[visual] (
      ECHO *** &&
      ECHO *** Building Visual Studio 2008 %PLATFORM%\%CONFIGURATION% &&
      ECHO *** &&
      msbuild "projects\VS2008\zstd.sln" /m /verbosity:minimal /property:PlatformToolset=v90 /p:CompileAs=CompileAsCpp /t:Clean,Build /p:Platform=%PLATFORM% /p:Configuration=%CONFIGURATION% /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll" &&
      DIR projects\VS2008\bin\%PLATFORM%\%CONFIGURATION%\*.exe &&
      MD5sum projects/VS2008/bin/%PLATFORM%/%CONFIGURATION%/*.exe &&
      msbuild "projects\VS2008\zstd.sln" /m /verbosity:minimal /property:PlatformToolset=v90 /p:CompileAs=CompileAsC /t:Clean,Build /p:Platform=%PLATFORM% /p:Configuration=%CONFIGURATION% /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll" &&
      DIR projects\VS2008\bin\%PLATFORM%\%CONFIGURATION%\*.exe &&
      MD5sum projects/VS2008/bin/%PLATFORM%/%CONFIGURATION%/*.exe &&
      COPY projects\VS2008\bin\%PLATFORM%\%CONFIGURATION%\fuzzer.exe projects\fuzzer_VS2008_%PLATFORM%_%CONFIGURATION%.exe &&
      ECHO *** &&
      ECHO *** Building Visual Studio 2010 %PLATFORM%\%CONFIGURATION% &&
      ECHO *** &&
      msbuild "projects\VS2010\zstd.sln" %ADDITIONALPARAM% /m /verbosity:minimal /property:PlatformToolset=v100 /p:CompileAs=CompileAsCpp /t:Clean,Build /p:Platform=%PLATFORM% /p:Configuration=%CONFIGURATION% /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll" &&
      DIR projects\VS2010\bin\%PLATFORM%\%CONFIGURATION%\*.exe &&
      MD5sum projects/VS2010/bin/%PLATFORM%/%CONFIGURATION%/*.exe &&
      msbuild "projects\VS2010\zstd.sln" %ADDITIONALPARAM% /m /verbosity:minimal /property:PlatformToolset=v100 /p:CompileAs=CompileAsC /t:Clean,Build /p:Platform=%PLATFORM% /p:Configuration=%CONFIGURATION% /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll" &&
      DIR projects\VS2010\bin\%PLATFORM%\%CONFIGURATION%\*.exe &&
      MD5sum projects/VS2010/bin/%PLATFORM%/%CONFIGURATION%/*.exe &&
      COPY projects\VS2010\bin\%PLATFORM%\%CONFIGURATION%\fuzzer.exe projects\fuzzer_VS2010_%PLATFORM%_%CONFIGURATION%.exe &&
      ECHO *** &&
      ECHO *** Building Visual Studio 2012 %PLATFORM%\%CONFIGURATION% &&
      ECHO *** &&
      msbuild "projects\VS2010\zstd.sln" /m /verbosity:minimal /property:PlatformToolset=v110 /p:CompileAs=CompileAsCpp /t:Clean,Build /p:Platform=%PLATFORM% /p:Configuration=%CONFIGURATION% /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll" &&
      DIR projects\VS2010\bin\%PLATFORM%\%CONFIGURATION%\*.exe &&
      MD5sum projects/VS2010/bin/%PLATFORM%/%CONFIGURATION%/*.exe &&
      msbuild "projects\VS2010\zstd.sln" /m /verbosity:minimal /property:PlatformToolset=v110 /p:CompileAs=CompileAsC /t:Clean,Build /p:Platform=%PLATFORM% /p:Configuration=%CONFIGURATION% /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll" &&
      DIR projects\VS2010\bin\%PLATFORM%\%CONFIGURATION%\*.exe &&
      MD5sum projects/VS2010/bin/%PLATFORM%/%CONFIGURATION%/*.exe &&
      COPY projects\VS2010\bin\%PLATFORM%\%CONFIGURATION%\fuzzer.exe projects\fuzzer_VS2012_%PLATFORM%_%CONFIGURATION%.exe &&
      ECHO *** &&
      ECHO *** Building Visual Studio 2013 %PLATFORM%\%CONFIGURATION% &&
      ECHO *** &&
      msbuild "projects\VS2010\zstd.sln" /m /verbosity:minimal /property:PlatformToolset=v120 /p:CompileAs=CompileAsCpp /t:Clean,Build /p:Platform=%PLATFORM% /p:Configuration=%CONFIGURATION% /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll" &&
      DIR projects\VS2010\bin\%PLATFORM%\%CONFIGURATION%\*.exe &&
      MD5sum projects/VS2010/bin/%PLATFORM%/%CONFIGURATION%/*.exe &&
      msbuild "projects\VS2010\zstd.sln" /m /verbosity:minimal /property:PlatformToolset=v120 /p:CompileAs=CompileAsC /t:Clean,Build /p:Platform=%PLATFORM% /p:Configuration=%CONFIGURATION% /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll" &&
      DIR projects\VS2010\bin\%PLATFORM%\%CONFIGURATION%\*.exe &&
      MD5sum projects/VS2010/bin/%PLATFORM%/%CONFIGURATION%/*.exe &&
      COPY projects\VS2010\bin\%PLATFORM%\%CONFIGURATION%\fuzzer.exe projects\fuzzer_VS2013_%PLATFORM%_%CONFIGURATION%.exe &&
      ECHO *** &&
      ECHO *** Building Visual Studio 2015 %PLATFORM%\%CONFIGURATION% &&
      ECHO *** &&
      msbuild "projects\VS2010\zstd.sln" /m /verbosity:minimal /property:PlatformToolset=v140 /p:CompileAs=CompileAsCpp /t:Clean,Build /p:Platform=%PLATFORM% /p:Configuration=%CONFIGURATION% /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll" &&
      DIR projects\VS2010\bin\%PLATFORM%\%CONFIGURATION%\*.exe &&
      MD5sum projects/VS2010/bin/%PLATFORM%/%CONFIGURATION%/*.exe &&
      msbuild "projects\VS2010\zstd.sln" /m /verbosity:minimal /property:PlatformToolset=v140 /p:CompileAs=CompileAsC /t:Clean,Build /p:Platform=%PLATFORM% /p:Configuration=%CONFIGURATION% /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll" &&
      DIR projects\VS2010\bin\%PLATFORM%\%CONFIGURATION%\*.exe &&
      MD5sum projects/VS2010/bin/%PLATFORM%/%CONFIGURATION%/*.exe &&
      COPY projects\VS2010\bin\%PLATFORM%\%CONFIGURATION%\fuzzer.exe projects\fuzzer_VS2015_%PLATFORM%_%CONFIGURATION%.exe &&
      COPY projects\VS2010\bin\%PLATFORM%\%CONFIGURATION%\*.exe programs\
    )

test_script:
  - ECHO Testing %COMPILER% %PLATFORM% %CONFIGURATION%
  - SET FUZZERTEST=-T1mn
  - if [%COMPILER%]==[gcc] (
      if [%PLATFORM%]==[mingw64] projects\fuzzer_clang.exe %FUZZERTEST%
    )
  - if [%COMPILER%]==[visual] if [%CONFIGURATION%]==[Release] (
      CD programs &&
      SET ZSTD=./zstd.exe &&
      sh -e playTests.sh --test-large-data &&
      fullbench.exe -i1 &&
      fullbench.exe -i1 -P0 &&
      CD .. &&
      projects\fuzzer_VS2008_%PLATFORM%_Release.exe %FUZZERTEST% &&
      projects\fuzzer_VS2010_%PLATFORM%_Release.exe %FUZZERTEST% &&
      projects\fuzzer_VS2012_%PLATFORM%_Release.exe %FUZZERTEST% &&
      projects\fuzzer_VS2013_%PLATFORM%_Release.exe %FUZZERTEST% &&
      projects\fuzzer_VS2015_%PLATFORM%_Release.exe %FUZZERTEST%
    )
