# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Default result files
_*
example
example_zstd
foo.gz

# Misc files
*.bat
*.zip
examples/example2.c
