# VitePress
docs/.vitepress/dist/
docs/.vitepress/cache/
docs/.vitepress/.temp/
docs/.vitepress/.server/

# Node
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build output
dist/
cache/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db
