# local binary (Makefile)
zstd
zstd32
fullbench
fullbench32
fuzzer
fuzzer32
zbufftest
zbufftest32
datagen
paramgrill
roundTripCrash

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Visual solution files
*.suo
*.user

# Default result files
dictionary
grillResults.txt
_*
tmp*
*.zst

# fuzzer
afl

# Misc files
*.bat
fileTests.sh
